<h1>Mp3s</h1>

<table cellpadding="1px" cellspacing="3px">
  <tr>
    <th>Title</th>
    <th>Artist name</th>
    <th>Url</th>
    <th>Length</th>
  </tr>

<% @mp3s.each do |mp3| %>
  <tr>
    <td><%= link_to mp3.title, mp3 %></td>
    <td><%= mp3.artist_name %></td>
    <td><%= mp3.url_short %></td>
    <td><%= mp3.length %></td>
  </tr>
<% end %>
</table>

<br/>

<%= link_to 'New Mp3', new_mp3_path %>
<br/>
<%= link_to 'Make a playlist', 'playlist/index' %>
