<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @mp3.title %>
  <br/>
  <b>Artist name:</b>
  <%= @mp3.artist_name %>
</p>

<p>
  <b>Url:</b>
  <%= @mp3.url %>
  <br/>
  <b>Length:</b>
  <%= @mp3.length %>
</p>

<p>
  <b> Current Rating: </b>
  <%= @mp3.current_rating %>
</p>

<p>
  <%= form_for @rating, :url => create_rating_url(@mp3) do |f| %>
    <%= f.label :rating, "What do you think of this song?" %> 
    <br/>
    1
    <%= f.radio_button 'value', '1' %>
    2
    <%= f.radio_button 'value', '2' %>
    3
    <%= f.radio_button 'value', '3' %>
    4
    <%= f.radio_button 'value', '4' %>
    5
    <%= f.radio_button 'value', '5' %>
    <%= f.submit "Rate it" %>
  <% end %>
</p>


<%= link_to 'Edit', edit_mp3_path(@mp3) %> |
<%= link_to 'Back', mp3s_path %>
