<h1>Make a playlist</h1>

<p>
  <%= form_tag 'generate' do %>

    <%= label_tag 'Artists' %> 
    <br/>
    <%= select_tag 'artists', options_for_select(@artists), 
      :multiple => true, :size => 20 %>

    <br/>

    <%= label_tag 'Minimum Rating:' %> 
    <%= select_tag 'min_rating', options_for_select([1, 2, 3, 4, 5]) %>
     
    <br/>

    <%= submit_tag "generate" %>
  <% end %>
</p>

